@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700,700i');
@import "fonts";
@import "reset";


@mixin pseudo($display: block, $pos: false, $content: ''){
    content: $content;
    display: $display;
	@if $pos { position: $pos; }
}

body{
	font-family: "Liberation Sans", sans-serif;
	font-size: 16px;
	color: #000;
	@media(min-width: 768px){
		font-size: 18px;
	}
}

h1{
	font-family: "Anonymous Pro", monospace;
	font-size: 2em;
	font-weight: 700;
	&.logo{
		text-transform: lowercase;
	}
	@media(min-width: 768px){
		margin-bottom: 0.25em;
		font-size: 3em;
	}
}

h2{
	@extend h1;
	font-size: 1.333em;
	margin-bottom: 0.5em;
	@media(min-width: 768px){
		font-size: 1.778em;
	}
}

h3{
	@extend h1;
	font-size: 1.15em;
	margin-bottom: 0.5em;
	@media(min-width: 768px){
		font-size: 1.5em;
	}
}
h4{
	@extend h1;
	font-size: 1em;
	margin-bottom: 0.5em;
	font-weight: normal;
	@media(min-width: 768px){
		font-size: 1.25em;
	}
}


p{
	line-height: 1.611;
	margin-bottom: 1.15em;
}

a{
	color: currentColor;
}

em{
	font-style: italic;
}

strong{
	font-weight: bold;
}

hr{
	border: 0;
	margin: 2em 0;
}

.highlight{
	display: inline;
	background-color: #000;
	color: #fff;
}

button, .btn{
	font-family: $display-font;
	font-weight: normal;
	cursor: pointer;
	padding: .75em 2em;
	font-size: 1.333em;
	border: 2px solid currentColor;
	border-radius: 3em;
	line-height: 1;
	position: relative;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	transition: background-color 0.15s ease-out;
	&.connect{ //needs white bg
		background: #fff;
		&::before{
			@include pseudo($pos: absolute);
			background: #eee;
			height: 100%;
			width: 50%;	
			left: 50%;
			top: -2px;
			transform: translateX(-50%) scaleX(1);
			z-index: 1;
			box-sizing: content-box;
			border-top: 3px solid #fff;
			border-bottom: 3px solid #fff;
			transition: transform 0.15s 0.15s ease-in-out;
			transform-origin: center center;
		}
	}
	
	& > span{
		display: inline-block;
		position: relative;
		z-index: 10;
	}
	&:hover, &:focus{
		background-color: #000;
		transition: background-color 0.15s 0.15s ease-out, color 0.15s 0.15s ease-out;
		&::before{
			transform: translateX(-50%) scaleX(0);
			transition: transform 0.15s ease-in-out;
		}
	}
	&:active{
		transition: background-color 0.15s ease-out, color 0.15s ease-out;
		background-color: #000;
		color: #fff;
		&::before{
			transform: translateX(-50%) scaleX(0);
		}
	}
	&.light{
		background: #fff;
		&::before{
			background: #fff;
			border-top: 3px solid #fff;
			border-bottom: 3px solid #fff;
		}
		&:active{
			transition: background-color 0.15s ease-out, color 0.15s ease-out;
			background-color: #000;
			color: #fff;
			&::before{
				transform: translateX(-50%) scaleX(0);
			}
		}
	}
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	&::after{
		@include pseudo($pos: absolute);
		right: 0.75em;
		top: 50%;
		margin-top: -8px;
		border: 8px solid transparent;
		border-left-color: currentColor;
	}
	@media(max-width: 1191px){
		font-size: 1.05em;
		&::after{
			right: 0.75em;
			margin-top: -5px;
			border: 5px solid transparent;
			border-left-color: currentColor;
		}	
	}
}
header{
	background: url(../images/scott-webb-270034.jpg) bottom center no-repeat #000;
	background-size: cover;
	z-index: 50;
	color: #fff;
	text-align: center;
	
	
	
	& > div {
		background: rgba(0,0,0,0.5);
		width: 100%;
		height: 100%;
		padding: 1.5em 1em;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		position: relative;
		.arrow{
			position: absolute;
			bottom: 3em;
			animation: fade-in-out 1s ease alternate infinite;
		}
	}
	@media(max-width: 1191px){
		svg{
			max-width: 6em;
		}
		height: 100vh;
		&>div{
			padding-bottom: 5em;
		}
	}
	.logo{
		margin-bottom: 0.5em;
		text-align: center;
	}
	@media(min-width: 768px){
		& > div {
			padding: 2.5em;
			text-align: center;
		}
	}
	@media(min-width: 1192px){
		position: fixed;
		left: 0;
		height: 100%;
		width: calc(100% / 7 * 2);
		background-size: auto 100%;
		.logo{
			margin-bottom:1em;
			&::after{
				content: "";
				display: inline-block;
				height: 0.14em;
				width: 0.14em;
				background: currentColor;
				border-radius: 50%;
			}
		}
	}
}
footer{
	color: #e6e6e6;
	background: #000;
	padding: 1em;
	text-align: right;
	svg{
		width: 3em;
	}
	
	@media(min-width: 768px){
		width: calc(100% / 7);
		position: fixed;
		right: 0;
		top: 0;
		height: 100%;
		.logo-link{
			position: absolute;
			bottom: 5%;
			display: block;
			width: 10vw;
			left: 50%;
			transform: translateX(-50%);
			max-width: 6em;
			svg{
				max-width: 100%;
				width: auto;
			}
		}
	}
}
.social{
	padding-top: 2em;
	text-align: center;
	& > *{
		vertical-align: top;
	}
}
.main-content{
	@media(min-width: 768px){
		padding-right: calc(100% / 7);
	}
	@media(min-width: 1192px){
		padding-left: calc(100% / 7 * 2);
	}
	&>section{
		padding: 1em;
		max-width: 35em;
		margin: 0 auto;
		@media(min-width: 768px){
			padding: 0.25em 2.5em;
		}
		@media(min-width: 1192px){
			max-width: none;
		}
	}
}
.callout{
	bottom: 0;
	left: 0;
	padding: 1em;
	width: 100%;
	text-align: center;
	background: #000;
	@media(min-width: 1192px){
		position: absolute;
		max-width: none;
	}
	.btn{
		display: inline-block;	
		margin-bottom: 1em;
	}
	.callout-text{
		font-family: $display-font;
		font-size: 1.25em;
		padding-bottom: 1em;
		display: block;
	}
}

.flex-inline{
	@media (min-width: 1192px){
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
	}
	width: 100%;
	max-width: 60em;
	margin: 0 auto;
}

.center-push{
	max-width: 40em;
	margin: 0 auto 4em;
	text-align: center;
}

.restore-card{
	display: block;
	text-align: center;
	padding: 1.5em 0.5em;
	@media (min-width: 1192px){
		width: 32%;
		border-top: 0.5em solid #000;
	}
	p{
		font-size: 0.75em;
	}
}

.visible-lg{
	display: none;
	@media(min-width: 1192px){
		display: block;
	}
}
.hidden-lg{
	display: block;
	@media(min-width: 1192px){
		display: none;
	}
}


/*RESTORE ANIMATION*/
$circleSize: 20vh;
$circleStroke: ($circleSize * 0.01);
$circleColour: #000;
$spinSpeed: 7.5s;
$logoSize: ($circleSize / 7.5);
$cubic-ease: cubic-bezier(0.8,0,0.2,1);
$iterations: infinite;
.animation-container{
	font-family: "Anonymous Pro", monospace;
	position: relative;
	.logo{
		position: absolute;
		font-weight: bold;
		font-size: $logoSize;
		display: block;
		text-align: center;
		color: #000000;
		left: 0;
		top: 50%;
		width: 100%;
		margin-top: -($logoSize/2);
		transform-origin: 50% 50%;
		transform: scale(1, 1);
		&::after{
			content: "";
			display: inline-block;
			height:0.16em;
			width: 0.16em;
			background: #000000;
			border-radius: 50%;
		}
		animation: fade-in-out $spinSpeed alternate $iterations ease-in-out;
	}
}

.circles{
	display: block;
	height: $circleSize;
	width: $circleSize;
	position: relative;
	margin: ((($circleSize*2) - $circleSize) / 2) auto;
}
.circles li{
	position: absolute;
	height: 100%;
	width: 100%;
	border: $circleStroke solid $circleColour;
	border-radius: 50%;
	animation: $spinSpeed $iterations forwards alternate $cubic-ease;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	&::before{
		content: attr(data-label);
		display: block;
		// padding: 0.5em;
		// background: #000000;
		// color: #ffffff;
		font-weight: bold;
		font-size: ($circleSize / 10);
		transform-origin: 50% 50%;
		transform: scale(1);
		animation: fade-in-out $spinSpeed alternate-reverse forwards $iterations ease-in-out;
	}
}

// collection of positions

$distance : ($circleSize / 1.8);

$position:(
    translate(-$distance, 0),
    translate(($distance / 2), -($distance * 0.866)),
    translate(($distance / 2), ($distance * .866))
  );

// loop through petals
@for $i from 1 to length($position) + 1{
  
  .circles li:nth-child(#{$i}){
    // transform: nth($position, $i);
		transform: scale(1.25);
    animation-name: circle-#{$i};
  }

  // animate circle to previous position
  $j: $i - 1;
	
  @if $j == 0 { $j: 3; } // loop round array
	$k: $i - 1;

  // create animation for petal
  @keyframes circle-#{$i}{ to{ transform: nth($position, $j) scale(0.75);} }

}

@keyframes fade-in-out{
	65%, 100%{
		opacity: 0;
		transform: scale(0.75);
	}
}